{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta http-equiv="Cache-control" content="no-cache">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script type="text/javascript" src={% static 'part4/createAccount.js' %}></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<title>Nicholas Serrano Assignment 3 login</title>

	<!-- Additional CSS Files -->
	<link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
	<style>
		body {
			background-color: #ffc0cb;
		}
	</style>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<p class="loginLogo">SimpleDev</p>

			<div id="loginForm" class="loginForm">
				<div class="loginTitle">Create Account</div>
				<div class="loginEntry">
					<p class="loginText">FirstName:</p>
					<input id="createFirstName" type="text" class="loginText">
				</div>
				<div class="loginEntry">
					<p class="loginText">LastName:</p>
					<input id="createLastName" type="text" class="loginText">
				</div>
                <div class="loginEntry">
					<p class="loginText">Username:</p>
					<input id="createUserName" type="text" class="loginText">
				</div>
                <div class="loginEntry">
					<p class="loginText">Password:</p>
					<input id="createPassword" type="password" class="loginText">
				</div>
                <div class="loginEntry">
					<p class="loginText">Email:</p>
					<input id="createEmail" type="text" class="loginText">
				</div>
				<div class="buttonContainer">
					<button id="createAccountSubmit" class="loginButton">Create</button>
					<button id="createAccountBack" class="loginButton">Back to login</button>
					<div id="lds-dual-ring" class="lds-dual-ring" style="display: none;"></div>
				</div>
				<p id="createNotice" class="loginText"></p>

			</div>
		</div>
	</div>

	</div>

	<!--End of content update-->
	<div class="main2-banner-content-page-navigation" id="Main2-Page-Navigation">
	</div>
</body>

</html>