{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Cache-control" content="no-cache">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src={% static 'slideshow/main2.js' %}></script>
    <title>Nicholas Serrano Assignment 3 Part 2</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="main2_center">

                <!-- Header -->
                <header id="header">
                    <div class="fas fa-bars nav_button" id="menubutton"> SimpleDev</div>
                </header>

                <!-- Banner -->
                <section class="main2-banner-container" id="Main2-container">
                    <!--It is here where the content presented can be updated from main2.js-->
                    <div class="main2-banner-title">Welcome! Select Animation: 
                        <select id="effect" value="none">
                            <option value="none">None</option>
                            <!--<option value="fade">Fade</option>-->
                            <!--<option value="slide">Slide</option>-->
                        </select>
                        Select Sequence Order:
                        <select id="sequenceOrder" value="sequential">
                            <option value="sequential">sequential</option>
                            <option value="random">random</option>
                        </select>

                    </div>
                    <div id="main2-banner-content">
                        <canvas id="drawSlideShow" class="main3-banner-content-canvas" width="900" height="600" style="border: 30px solid #24252d;">
                            Your browser does not support Canvas


                        </canvas>
                    </div>
                    <!--End of content update-->
                </section>
                <div class="main2-banner-content-page-navigation" id="Main2-Page-Navigation" style="display: none;">
                    <button class="main2-banner-content-button-centered" id="Main3StartStopButton">Start</button>
                    <button class="main2-banner-content-button-centered" id="Main3PrevButton" style="display: none;">Prev Slide</button>
                    <button class="main2-banner-content-button-centered" id="Main3NextButton" style="display: none;">Next Slide</button>
                </div>


            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar" style="display: none;">
            <div class="inner_sidebar">
                <!-- Menu -->
                <nav id="menu">
                    <ul>
                        <li><a href="http://localhost:8000/">Documentation</a></li>
                        <li><a href="http://localhost:8000/checkVisit/">Part 1 Check Visits</a></li>
                        <li><a href="http://localhost:8000/slideshow/">Part 2 SlideShow</a></li>
                        <li><a href="http://localhost:8000/part3/">Part 3 Computer Store</a></li>
                        <li><a href="http://localhost:8000/part4/">Part 4 Computer Store</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</body>

</html>